h1{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;

}
article{
	position: relative;
	margin: 10px;
}
p{
	border: 2px solid black;
	padding: 30px;
	background-color: lightgray;
}
h3{
	position: absolute;
	top: 0px;
	right: 0px;
	border: 2px solid black;
	width: 40%;
	height: 35px;
	text-align: center;
    margin: 0px;
}
#Chicken{
	background-color: pink;
}
#Beef{
	background-color: brown;
}
#Sushi{
	background-color: yellow;
}
section{
	width: 95%;
    margin-right: auto;
    margin-left: auto; 
}

@media (min-width: 900px){
	.laptopbody{
		float: left;
		width: 33%;
	}
}

@media (min-width: 700px) and (max-width: 899px){
	.tabletbody,.tabletbodysushi{
		float: left;
	}
	.tabletbody{
		width: 50%;
	}
	.tabletbodysushi{
		width: 100%;
	}
}

@media(max-width: 699px){
	.mobilebody{
		float: left;
		width: 100%;
	}
}

